/* font cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* root styling to avoid repetition */
:root {
  --main-bg-color: #0A0A00;
  --main-color: #D01110;
  --main-text-color: #FFFFFF;
}
/* universal styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styling */
body {
  font-family: 'Poppins', sans-serif;
  color: var(--main-text-color);
}
/* background fixed video */
.video {
  width: 100vw;
  height: 100vh;
}
.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  min-height: 100vh;
}
/* section on top of video */
.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
/* nav style */
.row {
  width: 100vw;
}
.red {
  color: var(--main-color);
}
.turn {
  transform: rotate(-45deg);
}
.unturn {
  transform: rotate(45deg);
}
.list ul {
  list-style: none;
}
.list ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: 0.3s ease;
}
.list ul li a:hover {
 color: var(--main-color);
 font-size: 15px;
}
.log:hover {
  color: var(--main-text-color);
  background-color: transparent;
  border: 1px solid var(--main-color);
}
.log {
  background-color: var(--main-color);
  padding: 3px 7px;
  border-radius: 10px;
}
/* nav bar styling end */

