body{
    background-color: #0A0A00;
    color: white;
}
:root {
    --main-bg-color: #0A0A00;
    --main-color: #D01110;
    --main-text-color: #FFFFFF;
  }
.row {
    width: 100vw;
  }
  .red {
    color: var(--main-color);
  }
  .turn {
    transform: rotate(-45deg);
  }
  .unturn {
    transform: rotate(45deg);
  }
  .list ul {
    list-style: none;
  }
  .list ul li a {
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.3s ease;
  }
  .list ul li a:hover {
   color: var(--main-color);
   font-size: 15px;
  }
  .log:hover {
    color: var(--main-text-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
  }
  .log {
    background-color: var(--main-color);
    padding: 3px 7px;
    border-radius: 10px;
  }
.slim{
    position: absolute;
    width: 586px;
    height: 422px;
    left: 818px;
    top: 195px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
}
.header{
    position: absolute;
width: 1341px;
height: 196px;
left: 52px;
top: 809px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 96px;
text-align: center;

}
.rec{
    position: absolute;
width: 1362px;
height: 544px;
left: 46px;
top: 1200px;

border: 1px solid #D01110;
box-sizing: border-box;
}