@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    overflow-x: hidden;
}
/* - - - browser resets - - - */
:root {
    --main-bg-color: #0A0A00;
    --main-color: #D01110;
    --main-text-color: #FFFFFF;
    --clr-accent-400: hsl(142, 90%,61%);
    --clr-neutral-900:hsl(267 19% 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
  }

  *,
  *::before
  *::after {
      box-sizing: border-box;
  }
.row {
    width: 100vw;
  }
  .red {
    color: var(--main-color);
  }
  .turn {
    transform: rotate(-45deg);
  }
  .unturn {
    transform: rotate(45deg);
  }
  .list ul {
    list-style: none;
  }
  .list ul li a {
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.3s ease;
  }
  .list ul li a:hover {
   color: var(--main-color);
   font-size: 15px;
  }
  .log:hover {
    color: var(--main-text-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
  }
  .log {
    background-color: var(--main-color);
    padding: 3px 7px;
    border-radius: 10px;
  }
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

body {
    background-color: var(--main-bg-color);
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    color: var(--main-color);
    min-height: 100vh;
    line-height: 1.6;
    font-family: sans-serif;
    padding-left: 10em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    color: var(--main-color);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*
#hero{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.452);
}



#hero .image {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
/*
#hero .text h1{
    font-size: 5vw;
    text-transform: capitalize;
    color: #fff;
}
*/
#hero .text {
    width: 100%;
}

#hero .text h2{
    font-size: 1.5vw;
    text-transform: capitalize;
    color: #fff;
}

#hero .text button {
    background-color: #ca0808;
    color: #fff;
    padding: 1% 3%;
    outline: none;
    border: 0.2vw solid var(--main-color);
    margin-top: 2%;
    border-radius: 0.7vw;
    cursor: pointer;
    font-size: 0.9vw;
}
*/
/*

#about{
    width: 100%;
    padding: 50% 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}

#about .information {
    display: flex;
    padding-top: 4%;
    justify-content: space-between;
}

#about .information div {
    display: flex;
    justify-content: center;
    width: 48%;
}
*/
/*
#about .information .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .information .info p {
    padding-bottom: 3%;
    text-align: justify;
}
*/
/*
#about .information .info button {
    background-color: #ca0808;
    color: #fff;
    padding: 1.5% 3%;
    outline: none;
    border: 0.2vw solid #ca0808;
    margin-top: 2%;
    border-radius: 0.7vw;
    cursor: pointer;
    font-size: 0.9vw;
}
*/
#about .infomation .images {
    justify-content: flex-end;
}




#about .infomation .images img {
    max-width: 200px;
    height: 300px;
margin: center;
float: left;
margin-right: 20px;
}

#about .infomation .images img.active {
    display: block;
}

/*
hr {
    height: 0.2vw;
    background-color: #ca0808;
    outline: none;
    border:none;
    width: 5vw;
    margin-top: 0.5%;
}
*/
.card0{
    color: var(--main-text-color);
    background-image: url(../Assets/willie/image3.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;

}
.card1{
    color: var(--main-text-color);
    background-image: url(../Assets/willie/image12.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;

}
.card2{
    color: var(--main-text-color);
    background-image: url(../Assets/willie/water11.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;

}
.card3{
    color: var(--main-text-color);
    background-image: url(../Assets/willie/image14.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;

}
.card4{
    color: var(--main-text-color);
    background-image: url(../Assets/willie/image5.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 500ms ease;

}
.card:hover {
    transform: scale(1.05);
} 


.card-content {
    padding: 1.5em;
    background: (rgba(26, 23, 23, 0.2)
    (0 0% / 1), rgba(20 0% 0% /1) 20% 
    hsl(0, 0%, / 1));
    transform: translateY(65%);
    transition: transform 500ms ease;
    

}

.card:hover .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.card-content > * :not(.card-title){
    opacity: 0;
    transition: opacity 500ms linear;
    color: aqua;
}



.card:hover .card-content > * {
    opacity: 1;
    transition-delay: 1000ms;
}


.card-title {
    position: relative;
    width: max-content;
}

.card.title::after {
    content: "";
     position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transform-origin: left;
    transition: left;

    transition: transform 500ms ease;
}

.card:hover .card-title::after {
    transform: scale(1);
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover,
button:focus {
    background-color: var(--clr-neutral-100);
}

.sec-1 {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 10px;
}

.sec-2 {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 10px;
}


.sec-3 {
    margin-bottom: 100px;
    margin-right: 10px;
}


.sec-4 {
    margin-bottom: 100px;
    margin-right: 10px;
}

.sec-5 {
    margin-bottom: 100px;
    margin-right: 10px;
}


/* - - - contact section - - - */

#contact{
    width: 100%;
    padding: 5% 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#contact .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact .form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .form form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#contact .form form input {
    padding: 3% 4%;
    font-size: 0.65vw;
    margin: 3% 0;
    border-radius: 0.5vw;
    outline: none;
    border: 0.1vw solid rgba(0, 0, 0, 0.5);
}

#contact .form form textarea {
    padding: 4%;
    font-size: 0.65vw;
    margin: 3% 2%;
    border-radius: 0.5vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.5);
    outline: none;
    width: 100%;
    height: 7vw;
}

#contact .form form input[type=submit]{
    background-color: #ca0808;
    width: 30%;
    color: #fff;
    font-size: 0.8vw;
    padding: 3% 0;
    outline: none;
    border: none;
    cursor: pointer;
}

#contact .form h3, #contact .contact-info h3 {
    color: #ca0808;
    margin-bottom: 5%;
    font-size: 1.5vw;
}

#contact .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact .contact-info div {
    display: flex;
    width: 100%;
    padding: 3% 0;

}

#contact .contact-info div svg {
    width: 2vw;
    color: #ca0808;
    margin-right: 3%;
}




